@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  margin: 10px;
  border: 3px solid #ff6c00;
  background-color: #fff;

  border-radius: 25px;
  width: 160px;
  height: 40px;
  padding: 0px;

  font-size: 24px;
  font-family: 'Henny Penny', cursive;

  font-weight: 700;
  color: #303030;
}

button:focus,
button:hover {
  background-color: #ff6c00;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff;
  outline: none;
}

button:disabled {
  cursor: none;
  color: #303030;
  background-color: rgb(216, 15, 15);
  border: 3px solid rgb(216, 15, 15);

  box-shadow: none;
}
